.app {
    text-align: center;
    padding: 2rem;
    background: #f9f9f9;
}

h1 {
    font-family: "Noto Sans Malayalam", sans-serif;
    color: #673ab7;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}